.availbleFoodContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.foodContainer {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
}

.foodContainer:last-child {
  margin-bottom: 3rem;
}

.foodImgContainer {
  margin: 0.1rem;
  padding: 0.1rem;
}

.food-image {
  width: 20rem;
  height: 20rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.foodInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.1rem;
  padding: 0.1rem;
}

@media screen and (max-width: 830px) {
  .availbleFoodContainer {
    justify-content: center;
  }
}
