.help {
  height: 100vh;
}

.nav-header {
  width: 100%;
}

img.header-logo {
  width: 15rem;
  height: 5rem;
  margin-left: 1rem;
  object-fit: contain;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.left-container {
  width: 80%;
}

.right-container {
  width: 90%;
}

.table {
  width: 100% !important;
}

.table,
tr,
td,
th {
  font-size: 1.2rem;
  border: 1px solid #000000 !important;
}

.bottom-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-container {
  margin-top: 0.6rem;
}

.bottom-btn {
  text-decoration: none;
  background-color: #8ecfa0;
  color: black;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1.5px solid black !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bottom-btn:hover {
  color: #fff;
  background-color: #000000;
}

@media screen and (max-width: 560px) {
  .lineBreak {
    display: block;
  }
  h2 {
    text-align: center;
  }
}
