.uploadFoodContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 8rem);
}

#imageForm {
  background-color: lightgreen;
  border-radius: 0.5rem;
}
