:root {
  --defaultColor: #8ecfa0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--defaultColor); */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
